.contador {
  background: #070707;
}

.contador div {
  color: white;
  font-size: 60px;
  background: #0d1117;
  border: 1px solid #37393b;
  border-radius: 10px;
  margin: 5px;
  padding: 5px;
  line-height: 60px;
  height: 75px;
}
